# s3boot configuration #
timeout=5

/Normal Boot
	kernel=e.clair
	initrd=initrd.tar
	cmdline=quiet init-profile=normal ramfs=/tmp
/Terminal
	kernel=e.clair
	initrd=initrd.tar
	cmdline=quiet init-profile=bare ramfs=/tmp
/Normal (debug)
	kernel=e.clair
	initrd=initrd.tar
	cmdline=uart-tty init-profile=normal ramfs=/tmp
/Terminal (debug)
	kernel=e.clair
	initrd=initrd.tar
	cmdline=uart-tty init-profile=bare ramfs=/tmp
/Configure video...
	type=1
